html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
}

input:focus {
  outline: 0;
}

input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px;
}

::-webkit-search-decoration {
  display: none;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #fcbb6d;
  -webkit-text-fill-color: #475c7a;
  -webkit-box-shadow: 0 0 0 1000px #fcbb6d inset;
  transition: background-color 5000s ease-in-out 0s;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  position: relative;
}