@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400&display=swap');

:root {
  --white: #fff;
}

body {
  font-family: 'Work Sans', sans-serif;
}

h3 {
  margin-bottom: 80px;
}

.appt-creator {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 50px 0;
}

.appt-creator header {
  font-size: 30px;
  margin: 0 0 30px;
}

[action="/appointment-creator"] {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.form-field {
  display: flex;
  flex-flow: column;
}

.form-field + .form-field {
  margin-top: 1rem;
}

.form-field input {
  padding: 8px;
  height: auto;
  font-size: 1rem;
  border: 1px solid #333;
}

.appt-created--modal {
  position: absolute;
  top: 50%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  padding: 50px;
  background: var(--white);
  z-index: 100;
}

.appt-created--modal[open] {
   display: flex;
}

.appt-created--modal[open] + form {
  filter: blur(1.7px);
}

.actions {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.actions a {
  margin-bottom: 30px;
}

.dashboard-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 50px 0;
}

.dashboard-circle {
  background-color: #5183AA;
  border-radius: 50%;
  width: 50%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-list {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.dashboard-item > a {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #2C5372;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
  margin-bottom: 2px;
}

.dashboard-item > a:hover {
  background-color: #1B364B;
}

.appointment-list {
  display: flex;
  flex-flow: column;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
}

.appointment {
  width: 20%;
  border-radius: 15px;
  display: flex;
  flex-flow: column;
  padding: 10px 10px;
  text-decoration: none;
  background-color: #2C5372;
  color: #fff;
  margin-right: 2px;
}

.appointment:hover {
  background-color: #1B364B;
}

.policy-list {
  background-color: #5183AA;
}

.policy-item {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.policy-item > a {
  width: 20%;
  border-radius: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px 10px;
  text-decoration: none;
  background-color: #2C5372;
  color: #fff;
  margin: 10px 0px;
}

.policy-item > a:hover {
  background-color: #1B364B;
}
