@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Work+Sans&display=swap');
:root {
  --white: #fff;
  --black: #333;
  --chambray: #475c7a;
  --dolphin: #685d79;
  --tapestry: #ac6d83;
  --candyPink: #d9717f;
  --rajah: #fcbb6d;
  --roboto: 'Roboto Mono', monospace;
  --workSans: 'Work Sans', sans-serif;
}

html {
  font-family: var(--workSans);
  font-size: 16px;
  color: var(--chambray);
}

body {
  margin: 0;
}

/* Icons */
.arrow-left.icon {
  color: transparent;
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: currentColor;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-left.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: -4px;
  width: 10px;
  height: 10px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.plus.icon {
  color: transparent;
  position: absolute;
  width: 21px;
  height: 21px;
  top: 50%;
  transform: translateY(-50%);
}

.plus.icon:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 15px;
  height: 2px;
  background-color: currentColor;
}

.plus.icon:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 15px;
  height: 2px;
  background-color: currentColor;
  transform: rotate(90deg);
}

.close.icon {
  color: transparent;
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  width: 21px;
  height: 21px;
  top: 50%;
  transform: translateY(-50%);
}

.close.icon:before {
  content: '';
  position: absolute;
  top: 10px;
  width: 21px;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close.icon:after {
  content: '';
  position: absolute;
  top: 10px;
  width: 21px;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Main Header */
.appt-header {
  align-items: center;
  background-color: var(--chambray);
  color: var(--white);
  margin-bottom: 60px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.appt-header--nav {
  grid-area: 1 / 1 / 2 / 3;
}

.appt-header--title {
  grid-area: 1 / 3 / 2 / 6;
  justify-self: center;
  font-family: var(--roboto);
  margin: 0;
}

.app-header--meta {
  grid-area: 1 / 6 / 2 / 8;
  justify-self: flex-end;
}

.nav-btn {
  font-size: 20px;
  color: var(--rajah);
  text-decoration: none;
}

.nav-btn span {
  display: inline-block;
  transition: .4s ease transform;
}

.dashboard-back-btn:hover span {
  transform: translateX(20px);
}

.appt-creator--nav-btn .icon {
  right: 0;
}

.appt-creator--nav-btn:hover span {
  transform: translateX(-26px);
}

.nav-btn:hover .icon {
  transition: .4s ease color;
  color: currentColor;
}

.appt-creator--accordion[open] {
   visibility: visible;
  transform: scaleY(1);
}

.appt-creator--accordion {
  visibility: hidden;
  transform: scaleY(0);
  transition: .4s ease transform, .4s ease visiblity;
  transform-origin: top;
}

.appt-creator--accordion summary {
  display: none;
}


.appt-creator {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 50px 0;
}

.appt-creator header {
  font-size: 30px;
  margin: 0 0 30px;
}

[action="/appointment-creator"] {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

form input::placeholder,
form input::-webkit-input-placeholder,
form input::-moz-placeholder {
  color: var(--dolphin);
}

form [type="text"],
form [type="date"],
form [type="time"] {
  color: var(--dolphin);
  padding: 8px 14px;
  min-height: 24px;
  font-size: 1rem;
  border: 1px solid currentColor;
  border-radius: 2px;
}

form [type="submit"] {
  font-size: 16px;
  min-height: 30px;
  border: 1px solid currentColor;
  margin: 10px 0 0;
  padding: 14px 20px;
  cursor: pointer;
  transition: .4s ease box-shadow;
  box-shadow: 0 0 0 0 currentColor;
}

form [type="submit"]:hover {
  box-shadow: -6px 6px 0 0 currentColor;
}

.form-field {
  display: flex;
  flex-flow: column;
  width: calc(50% - 16px);
  padding: 0 8px;
  margin: 10px 0;
}

.form-field label {
  font-size: 18px;
  margin: 0 0 8px;
}

/* Dialog */
.appt-created--modal {
  position: absolute;
  top: 50%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  padding: 50px;
  background: var(--white);
  z-index: 100;
}

.appt-created--modal[open] {
  display: flex;
}

.appt-created--modal[open] + form {
  filter: blur(1.7px);
}

.appt-created--modal h3 {
  margin-bottom: 80px;
}

.actions {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.actions a {
  margin-bottom: 30px;
}

.dashboard-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 50px 0;
}

.dashboard-circle {
  background-color: #5183AA;
  border-radius: 50%;
  width: 50%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-list {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.dashboard-item > a {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  /*background-color: #2C5372;*/
  /*color: #fff;*/
  text-decoration: none;
  border-radius: 15px;
  margin-bottom: 2px;
}

.dashboard-item > a:hover {
  /*background-color: #1B364B;*/
}

.appt-list {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.appt {
  width: 20%;
  border-radius: 15px;
  display: flex;
  flex-flow: column;
  padding: 10px 10px;
  text-decoration: none;
  color: currentColor;
  margin-right: 2px;
}

.appt:hover {
  /*background-color: #1B364B;*/
}

.policy-list {
  /*background-color: #5183AA;*/
}

.policy-item {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.policy-item + .policy-item {
  margin-top: 70px;
}

.policy-title--link {
  display: flex;
  flex-flow: row;
  align-items: center;
  min-width: 370px;
  width: auto;
  border-radius: 3px;
  padding: 10px;
  text-decoration: none;
  background-color: var(--dolphin);
  color: var(--white);
  margin: 10px 0;
  transition: .4s ease color, .4s ease background-color, .4s ease box-shadow;
}

.policy-title--link h3,
.policy-title--link p {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.policy-title--link h3 {
  font-family: var(--roboto);
  margin-right: 10px;
}

.policy-title--link p {
  font-family: var(--workSans);
}

.policy-title--link:hover {
  color: var(--dolphin);
  background-color: transparent;
  box-shadow: 0 0 0 2px currentColor;
}
